ctransformers==0.2.5
pinecone-client
--upgrade sentence-transformers
-U langchain-community
--upgrade langchain
flask
pypdf
huggingface_hub
huggingface_hub[hf_xet]
pydantic<2
--upgrade langchainplus-sdk